//* START VARIBLES 
// start colors
//primary colors
$orange: hsl(25, 97%, 53%);

//neutral colors
$white: #ffff;
$lgrey: hsl(217, 12%, 63%);
$mgrey: hsl(216, 12%, 54%);
$dblue: hsl(213, 19%, 18%);
$vdblue: hsl(216, 12%, 8%);

//typography
$fs: 15px; // paragraph

*{
    box-sizing: border-box;
}

body{
    background-color: $vdblue;
}

#n1{
    width: 430px;
    height: 400px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dblue;

    #stardiv{
        background-color: rgb(78, 45, 61);
        border-radius: 200px;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 40px;
        height: 40px;

        #star{
            position: absolute;
            left: 12px;
            top: 10px;
            display: block;

        }
    }
#pt{
    #title1{
        font-family: 'OverPass';
        color: white;
        margin-left: 30px;
        margin-top: 100px;
        font-weight: 400;
    }

    #paragraph{
        color: $lgrey;
        margin: 30px;
        margin-top: -10px;
        font-size: $fs;
        font-family: 'OverPass';
        line-height: 25px;
    }
}
#but{

margin-left: 25px;
position: absolute;
bottom: 100px;

    .rate{
        border: none;
        background-color: $vdblue;
        color: $lgrey;
        height: 58px;
        width: 58px;
        border-radius: 100px;
        font-family: 'OverPass';
        font-size: 17px;
        margin: 5px;
        margin-left: 10px;
        
    }

    .rate:hover{
       background-color: $orange;
       color: #ffff; 
    }
}


#sub{
    background-color: $orange;
    border: none;
    border-radius: 100px;
    width: 370px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    color: #ffff;
    font-family: 'OverPass';
    letter-spacing: 4px;
    font-weight: 700;
    text-align: center;
    transition: 0.3s ease-in;
}

#sub:hover{
    background-color: white;
    color: $orange;
    cursor: pointer;
    

    }
}